* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #222;
}

/* Container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Buttons  */
.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 22px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease;
}

.btn-primary {
  background: #28a745;
  color: #fff;
  border: 1px solid #28a745;
}

.btn-primary:hover {
  background: #218838;
}

.btn-outline {
  border: 2px solid #fff;
  color: #fff;
  background-color: #00193180;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(40, 167, 69, 0.25);

}

.btn-outline:hover {
  box-shadow: 0 0 15px 1px #d0d6dd80;
}

/* navbar  */
.navbar {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu a {
  text-decoration: none;
  font-weight: 600;
  color: #222;
  transition: all 0.2s ease;
}

.menu a:hover {
  color: #28a745;
  text-decoration: underline;
  text-shadow: 0 0 15px 12px #218838;
}

/* hero Section */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.35)),
    url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 620px;
  display: flex;
  align-items: center;
}

.hero-content {
  text-align: center;
  max-width: 820px;
}

.badge {
  background: rgba(255, 255, 255, 1);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  color: #30B868;
  display: inline-block;
}

.hero-title {
  font-size: 52px;
  font-weight: 700;
  margin-top: 20px;
  color: #fff;
  line-height: 1.15;
}

.accent {
  color: #28a745;
}

.hero-sub {
  margin-top: 18px;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.7;
}

.hero-actions {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}